<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ("./layouts/css/bootstrap")%>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <%-include ("./layouts/components/nav")%>
    <div class="container mt-5">
      <h1 class="my-4">Login</h1>
      <form action="/user/login" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h3 class="my-2">Or</h3>
      <a href="/signup">Create a new account</a>
    </div>
    <%-include ("./layouts/js/bootstrap")%>
  </body>
</html>
